{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="card mx-auto">
        <!-- Card Header -->
        <div class=" text-center ">
            <h4 class="mb-0">Sign Out</h4>
        </div>
        
        <!-- Card Body -->
        <div class="card-body text-center">
            <p class="mb-4">Are you sure you want to sign out?</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                

                <div class="d-flex justify-content-center mt-4">
                    <a href="{% url 'display_insight' %}" class="btn btn-secondary me-3">Go back to insight</a>
                    <button class="btn btn-danger" type="submit">Logout</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
